.header {
  padding-top: 31px;
  background-color: #0d0d0d;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content .nav ul {
  display: flex;
  list-style: none;
}

.header-content .nav ul li {
  margin-left: 20px;
}

.header-content .nav ul li a {
  text-decoration: none;
  font-size: 18px;
  color: #FFF;
  font-weight: 400;
}

.header-content .nav ul li a:hover {
  color: #f70404;
  transition: 0.3s;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #FFF;
  font-weight: 400;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

.hero {
  background-color: #0d0d0d;
  padding-top: 200px;
  padding-bottom: 250px;
  position: relative;
}

.hero::after {
  content: '';
  position: absolute;
  width: 490px;
  height: 726px;
  right: 0;
  top: 0px;
  background: url("../img/rus.png") no-repeat center;
}

.hero::before {
  content: '';
  position: absolute;
  background: url("../img/rus-mobile.png") no-repeat center;
  display: none;
  width: 317px;
  height: 487px;
  right: 0px;
  top: 95px;
}

.hero span {
  font-size: 30px;
  margin-bottom: 10px;
}

.hero h1 {
  font-size: 60px;
  line-height: 80px;
  width: 540px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 20px;
}

.hero-btn {
  padding: 15px 25px;
  background-color: #f70404;
  font-size: 22px;
  width: min-content;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.hero-btn:hover {
  background-color: #fff;
  color: #000;
  transition: 0.3s;
}

.about {
  background-color: #151515;
  padding-top: 100px;
  padding-bottom: 99px;
}

.about h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 135px;
}

.about-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-block {
  width: calc( 48% - 50px);
  margin-bottom: 50px;
}

.about-block h3 {
  font-size: 30px;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  padding-top: 20px;
}

.about-block p {
  font-size: 18px;
  line-height: 30px;
  display: flex;
  margin-bottom: 30px;
}

.about-block1 {
  position: relative;
}

.about-block1::after {
  content: '';
  width: 30px;
  height: 50px;
  position: absolute;
  transform: translateX(-50%);
  top: -60px;
  font-size: 20px;
  left: 50%;
  background: url("../img/1.svg") no-repeat center;
}

.about-block2 {
  position: relative;
}

.about-block2::after {
  content: '';
  width: 40px;
  height: 50px;
  position: absolute;
  transform: translateX(-50%);
  top: -60px;
  font-size: 20px;
  left: 50%;
  background: url("../img/2.svg") no-repeat center;
}

.about-block3 {
  position: relative;
}

.about-block3::after {
  content: '';
  width: 40px;
  height: 50px;
  position: absolute;
  transform: translateX(-50%);
  top: -60px;
  font-size: 20px;
  left: 50%;
  background: url("../img/3.svg") no-repeat center;
}

.about-block4 {
  position: relative;
}

.about-block4::after {
  content: '';
  width: 40px;
  height: 50px;
  position: absolute;
  transform: translateX(-50%);
  top: -60px;
  font-size: 20px;
  left: 50%;
  background: url("../img/4.svg") no-repeat center;
}

.works {
  background-color: #151515;
  padding-top: 101px;
  padding-bottom: 150px;
  position: relative;
}

.works h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 130px;
}

.works-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.works-content-block {
  width: calc(50% - 15px);
  background-color: #0d0d0d;
  padding: 20px 30px;
  margin-bottom: 30px;
}

.works-content-block:hover.works-content-block img {
  transition: 0.3s;
  opacity: 1;
}

.works-content-block h3 {
  margin-bottom: 50px;
  font-family: 'Roboto', sans-serif;
  padding-top: 20px;
  font-size: 24px;
  color: #FFF;
  text-align: center;
  text-decoration: none;
}

.works-content-block img {
  width: 100%;
  margin-bottom: 70px;
  cursor: pointer;
  opacity: 0.8;
}

.works-content-block-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.works-content-block-text span {
  display: block;
  position: relative;
  width: 100%;
}

.works-content-block-text span::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  border: 1px dashed #585757;
  left: 0;
  bottom: 9px;
  opacity: 0.5;
}

.works-content-block-text b {
  font-size: 18px;
  margin-bottom: 25px;
  color: #FFF;
  white-space: nowrap;
  padding-right: 15px;
}

.works-content-block-text small {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 25px;
  color: #FFF;
  white-space: nowrap;
  padding-left: 15px;
}

.works-link {
  color: #f70404;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 25px;
  white-space: nowrap;
  padding-left: 15px;
  text-decoration: none;
  position: relative;
}

.works-link:hover {
  color: #FFF;
  transition: 0.3s;
}

.works-link:hover::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #f70404;
  left: 6px;
  bottom: -5px;
}

.works-btn {
  width: min-content;
  padding: 20px 30px;
  background-color: #f70404;
  margin: auto;
  cursor: pointer;
  white-space: nowrap;
  margin-top: 50px;
  display: none;
}

.works-btn:hover {
  transition: 0.3s;
  background-color: #fff;
  color: #000;
}

.service {
  padding-top: 100px;
  background-color: #0d0d0d;
  padding-bottom: 130px;
}

.service h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 100px;
}

.service-content {
  display: flex;
  justify-content: space-between;
}

.service-content-left {
  width: 48%;
  padding: 50px 20px;
  background-color: #151515;
}

.service-content-left h3 {
  font-size: 30px;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  padding-top: 20px;
  text-align: center;
  position: relative;
  margin-bottom: 50px;
}

.service-content-left h3::after {
  content: '';
  width: 150px;
  height: 2px;
  position: absolute;
  background-color: #f70404;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
}

.service-content-left p {
  font-size: 18px;
  line-height: 30px;
  display: flex;
  margin-bottom: 50px;
  text-align: center;
  padding: 0px 50px;
  height: 180px;
}

.service-content-left span {
  font-size: 18px;
  line-height: 30px;
  display: flex;
  margin-bottom: 20px;
  text-align: center;
  display: block;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

.service-content-left span::after {
  content: '';
  width: 70px;
  height: 2px;
  position: absolute;
  background-color: #f70404;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}

.service-btn {
  padding: 17px 60px;
  background-color: #FFF;
  margin: auto;
  width: min-content;
  color: #000;
  cursor: pointer;
  font-size: 18px;
}

.service-btn:hover {
  transition: 0.3s;
  background-color: #f70404;
  color: #FFF;
}

.contacts {
  padding-top: 100px;
  background-color: #0d0d0d;
}

.contacts h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 150px;
}

.contacts-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.contacts-content-left {
  width: 48%;
}

.contacts-content-left label {
  width: 48%;
}

.contacts-content-left input {
  background: #0d0d0d;
  width: 100%;
  font-size: 18px;
  color: #FFF;
  height: 50px;
  padding-left: 15px;
  margin-bottom: 30px;
  border-top: none;
  border-left: none;
  border-right: none;
}

.contacts-content-left textarea {
  background: #151515;
  font-size: 18px;
  color: #FFF;
  resize: none;
  width: 100%;
  padding-left: 15px;
  padding-top: 15px;
  margin-bottom: 40px;
}

.contacts-content-left #contacts-btn {
  width: min-content;
  outline: none;
  border: none;
  padding-top: 13px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 17px;
  background-color: #bdb8b8;
  color: #000;
  font-size: 20px;
  cursor: pointer;
}

.contacts-content-left #contacts-btn:hover {
  transition: 0.3s;
  background-color: #f70404;
  color: #FFF;
}

.contacts-content-right {
  width: 48%;
  padding-top: 50px;
}

.contacts-content-right .right-block {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.contacts-content-right .right-block img {
  margin-right: 15px;
}

.contacts-content-right .right-block span {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 400;
}

.contacts-content-right .right-block a {
  text-decoration: none;
  color: #585656;
  font-size: 18px;
}

.contacts-content-right .right-block a:hover {
  color: #f70404;
  transition: 0.3s;
}

.contacts-content-right p {
  width: 400px;
}

.contacts-wrap {
  display: flex;
  justify-content: space-between;
}

.copyright {
  margin-top: 50px;
  background-color: #151515;
}

.copyright-wrap {
  display: flex;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
  justify-content: flex-end;
}

.copyright-wrap span {
  font-size: 16px;
  color: #b1b1b1;
  margin-right: 20px;
}

.social-wrap {
  margin-right: 10px;
}

.social {
  display: flex;
  justify-content: flex-start;
}

.social a {
  margin-right: 10px;
  text-decoration: none;
  color: #b1b1b1;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.social a:hover {
  color: #f70404;
  transition: 0.3s;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 8;
  display: none;
}

.overlay-close {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 30px;
  right: 50px;
  cursor: pointer;
}

.overlay-close::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 2px;
  right: 0px;
  top: 20px;
  background-color: #FFF;
  cursor: pointer;
  transform: rotate(45deg);
}

.overlay-close::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 2px;
  right: 0px;
  top: 20px;
  background-color: #FFF;
  cursor: pointer;
  transform: rotate(-45deg);
}

.popup-wrap-img {
  position: fixed;
  z-index: 10;
  max-width: 1200px;
  width: 50%;
  height: 100vh;
  overflow: auto;
  left: 50%;
  top: 50%;
  z-index: 12;
  transform: translate(-50%, -50%);
  display: none;
}

.popup-wrap-img img {
  width: 100%;
  vertical-align: middle;
  display: block;
  overflow-y: scroll;
  opacity: 1;
}

.body-modal {
  overflow: hidden;
}

.popup {
  position: fixed;
  max-width: 1200px;
  width: 100%;
  left: 50%;
  top: 50%;
  z-index: 12;
  transform: translate(-50%, -50%);
  background-color: #FFF;
  display: none;
}

.popup-sent {
  display: none;
  background-color: #151515;
  width: 90%;
  padding-top: 50px;
}

.popup-sent label {
  width: 48%;
}

.popup-sent label input {
  background: #151515;
  width: 50%;
  margin-left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  color: #FFF;
  height: 50px;
  padding-left: 15px;
  margin-bottom: 30px;
}

.popup-sent label textarea {
  background: #151515;
  font-size: 18px;
  color: #FFF;
  resize: none;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 50%;
  padding-left: 15px;
  padding-top: 15px;
  margin-bottom: 40px;
}

.popup-sent #popup-btn {
  width: min-content;
  outline: none;
  border: none;
  padding-top: 13px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 17px;
  background-color: #bdb8b8;
  color: #000;
  font-size: 20px;
  cursor: pointer;
  margin-left: 50%;
  transform: translateX(-50%);
}

.popup-sent #popup-btn:hover {
  transition: 0.3s;
  background-color: #f70404;
  color: #FFF;
}

.popup-contact {
  display: flex;
  margin-bottom: 30px;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 35px;
}

.popup-block {
  width: 300px;
}

.popup-order-btn {
  margin-bottom: 30px;
}

.popup-visit-text p {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  text-align: center;
  font-size: 32px;
  margin-bottom: 30px;
}

.popup-order {
  background-color: #151515;
  width: 800px;
  padding-top: 50px;
  display: none;
}

.popup-order label {
  width: 48%;
}

.popup-order label input {
  background: #151515;
  width: 50%;
  margin-left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  color: #FFF;
  height: 50px;
  padding-left: 15px;
  margin-bottom: 30px;
}

.popup-order label textarea {
  background: #151515;
  font-size: 18px;
  color: #FFF;
  resize: none;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 50%;
  padding-left: 15px;
  padding-top: 15px;
  margin-bottom: 40px;
}

.popup-order #popup-btn {
  width: min-content;
  outline: none;
  border: none;
  padding-top: 13px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 17px;
  background-color: #bdb8b8;
  color: #000;
  font-size: 20px;
  cursor: pointer;
  margin-left: 50%;
  transform: translateX(-50%);
}

.popup-order #popup-btn:hover {
  transition: 0.3s;
  background-color: #f70404;
  color: #FFF;
}

.popup-corporate {
  background-color: #151515;
  width: 800px;
  padding-top: 50px;
  display: none;
}

.popup-corporate label {
  width: 48%;
}

.popup-corporate label input {
  background: #151515;
  width: 50%;
  margin-left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  color: #FFF;
  height: 50px;
  padding-left: 15px;
  margin-bottom: 30px;
}

.popup-corporate label textarea {
  background: #151515;
  font-size: 18px;
  color: #FFF;
  resize: none;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 50%;
  padding-left: 15px;
  padding-top: 15px;
  margin-bottom: 40px;
}

.popup-corporate #popup-btn {
  width: min-content;
  outline: none;
  border: none;
  padding-top: 13px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 17px;
  background-color: #bdb8b8;
  color: #000;
  font-size: 20px;
  cursor: pointer;
  margin-left: 50%;
  transform: translateX(-50%);
}

.popup-corporate #popup-btn:hover {
  transition: 0.3s;
  background-color: #f70404;
  color: #FFF;
}

@media screen and (min-width: 1400px) {
  .hero::after {
    right: 10%;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .hero::after {
    top: 0;
    right: 0;
  }
  .hero span {
    font-size: 26px;
    margin-bottom: 10px;
    display: block;
  }
  .hero h1 {
    font-size: 50px;
    line-height: 60px;
  }
  .hero p {
    width: 414px;
  }
  .works-link-margin {
    white-space: break-spaces;
  }
  .about-block h3 {
    font-size: 24px;
  }
  .about-block {
    width: calc(50% - 19px);
  }
  .service-content-left span {
    padding-top: 30px;
  }
  .service-content-left span::after {
    top: 21px;
  }
}

@media screen and (max-width: 991px) {
  .container {
    max-width: 739px;
  }
  .hero::after {
    display: none;
  }
  .hero::before {
    display: block;
  }
  .hero h1 {
    font-size: 36px;
    line-height: 39px;
  }
  .hero span {
    font-size: 22px;
  }
  .header-content img {
    width: 120px;
  }
  .about {
    padding-top: 50px;
  }
  .about h1 {
    font-size: 36px;
    margin-bottom: 40px;
  }
  .about-block {
    width: 100%;
    padding-left: 100px;
    margin-bottom: 20px;
  }
  .about-block h3 {
    font-size: 22px;
  }
  .about-block::after {
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
  }
  .service {
    padding-top: 50px;
    padding-bottom: 10px;
  }
  .service h1 {
    font-size: 36px;
    margin-bottom: 62px;
  }
  .service-content {
    flex-wrap: wrap;
  }
  .service-content-left {
    width: 100%;
    padding: 30px 20px;
    margin-bottom: 40px;
  }
  .service-content-left p {
    height: auto;
    margin-bottom: 20px;
  }
  .works {
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .works h1 {
    font-size: 36px;
    margin-bottom: 50px;
  }
  .works-content-block {
    width: 100%;
  }
  .contacts {
    padding-top: 50px;
  }
  .contacts h1 {
    font-size: 36px;
  }
  .contacts-content {
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
  .contacts-content-left {
    width: 100%;
  }
  .contacts-content-right {
    width: 100%;
  }
  .popup-order {
    width: 750px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 540px;
  }
  body {
    position: relative;
  }
  .header {
    position: fixed;
    z-index: 14;
    left: 0;
    top: 0;
    width: 100%;
  }
  .nav {
    position: fixed;
    z-index: 10;
    background-color: #151515;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 20px;
    text-align: center;
    width: 100%;
    display: none;
  }
  .nav ul {
    flex-direction: column;
  }
  .nav ul li {
    margin-bottom: 15px;
  }
  .burger-active .burger-slide {
    height: 0;
    position: fixed;
    z-index: 12;
  }
  .burger-active .burger-slide::after {
    transform: rotate(-45deg);
    top: -1px;
    left: 0;
    transition: 0.3s;
  }
  .burger-active .burger-slide::before {
    transform: rotate(45deg);
    top: -1px;
    left: 0;
    transition: 0.3s;
  }
  .burger {
    width: 40px;
    height: 20px;
    cursor: pointer;
  }
  .burger span {
    width: 40px;
    height: 2px;
    background-color: #fff;
    position: relative;
    display: block;
  }
  .burger span::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    background-color: #fff;
    width: 40px;
    height: 2px;
  }
  .burger span::after {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    background-color: #fff;
    width: 40px;
    height: 2px;
  }
  .header-content {
    align-items: baseline;
  }
  .hero span {
    font-size: 18px;
  }
  .hero h1 {
    font-size: 26px;
    width: 244px;
    line-height: 30px;
  }
  .hero p {
    font-size: 16px;
    display: none;
  }
  .hero-btn {
    font-size: 18px;
  }
  .about {
    padding-bottom: 40px;
  }
  .about h1 {
    font-size: 28px;
    margin-bottom: 25px;
  }
  .about-block {
    margin-bottom: 0;
  }
  .about-block h3 {
    font-size: 18px;
  }
  .about-block p {
    font-size: 16px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .service {
    padding-top: 40px;
  }
  .service h1 {
    font-size: 28px;
    margin-bottom: 40px;
  }
  .service-content-left h3 {
    font-size: 22px;
  }
  .service-content-left p {
    font-size: 16px;
  }
  .works {
    padding-top: 40px;
  }
  .works h1 {
    font-size: 28px;
    margin-bottom: 40px;
  }
  .works-content-block h3 {
    font-size: 22px;
  }
  .works-content-block-text b {
    font-size: 16px;
  }
  .works-content-block-text small {
    font-size: 16px;
  }
  .works-link {
    font-size: 16px;
  }
  .contacts h1 {
    font-size: 28px;
    margin-bottom: 100px;
  }
  .works-content-block {
    margin-bottom: 20px;
  }
  .contacts-content-left input {
    font-size: 16px;
  }
  .contacts-content-left textarea {
    font-size: 16px;
  }
  .contacts-content-left #contacts-btn {
    font-size: 18px;
  }
  .contacts-content-right p {
    font-size: 14px;
  }
  .contacts-content-right {
    padding-top: 20px;
  }
  .contacts-content-right .right-block span {
    font-size: 16px;
  }
  .contacts-content-right .right-block a {
    font-size: 16px;
  }
  .popup-sent {
    width: 90%;
  }
  .popup-sent label textarea {
    height: 150px;
    font-size: 16px;
    margin-bottom: 25px;
  }
  .popup-sent label input {
    font-size: 16px;
  }
  .popup-corporate {
    width: 90%;
  }
  .popup-order {
    width: 90%;
  }
  .popup-wrap-img {
    width: 65%;
  }
}

@media screen and (max-width: 575px) {
  .container {
    max-width: 100%;
  }
  .burger {
    width: 40px;
    height: 20px;
    cursor: pointer;
  }
  .burger span {
    width: 40px;
    height: 1px;
    background-color: #fff;
    position: relative;
    display: block;
  }
  .burger span::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    background-color: #fff;
    width: 40px;
    height: 1px;
  }
  .burger span::after {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    background-color: #fff;
    width: 40px;
    height: 1px;
  }
  .header {
    padding-top: 20px;
  }
  .header-content .nav ul li a {
    font-size: 16px;
  }
  .hero {
    padding-bottom: 36px;
  }
  .hero::before {
    content: '';
    position: absolute;
    background: url("../img/rus-320.png") no-repeat center;
    width: 203px;
    height: 301px;
    right: 50%;
    transform: translateX(50%);
    top: 75px;
  }
  .hero-btn {
    font-size: 16px;
    padding: 13px 23px;
  }
  .hero span {
    font-size: 16px;
    margin-bottom: 5px;
    padding-top: 184px;
  }
  .hero h1 {
    font-size: 22px;
  }
  .about {
    padding-top: 30px;
  }
  .about h1 {
    font-size: 24px;
    margin-bottom: 15px;
  }
  .about-block h3 {
    font-size: 18px;
    padding-top: 8px;
  }
  .about-block p {
    line-height: 24px;
    margin-bottom: 5px;
  }
  .about-block::after {
    left: 7px;
  }
  .about-block {
    padding-left: 55px;
  }
  .about-block1 {
    position: relative;
  }
  .about-block1::after {
    content: '';
    width: 30px;
    height: 50px;
    position: absolute;
    font-size: 20px;
    top: 50%;
    background: url("../img/1-m.svg") no-repeat center;
  }
  .about-block2 {
    position: relative;
  }
  .about-block2::after {
    content: '';
    width: 30px;
    height: 50px;
    position: absolute;
    font-size: 20px;
    top: 50%;
    background: url("../img/2-m.svg") no-repeat center;
  }
  .about-block3 {
    position: relative;
  }
  .about-block3::after {
    content: '';
    width: 30px;
    height: 50px;
    position: absolute;
    font-size: 20px;
    top: 50%;
    background: url("../img/3-m.svg") no-repeat center;
  }
  .about-block4 {
    position: relative;
  }
  .about-block4::after {
    content: '';
    width: 30px;
    height: 50px;
    position: absolute;
    font-size: 20px;
    top: 50%;
    background: url("../img/4-m.svg") no-repeat center;
  }
  .service h1 {
    font-size: 24px;
    margin-bottom: 30px;
  }
  .service {
    padding-top: 30px;
  }
  .service-content-left p {
    padding: 0px 0px;
    margin-bottom: 0px;
  }
  .service-btn {
    font-size: 16px;
  }
  .service-content-left h3 {
    padding-top: 0;
  }
  .service-btn {
    padding: 13px 60px;
  }
  .service-content-left h3 {
    margin-bottom: 20px;
  }
  .service-content-left h3::after {
    bottom: -15px;
  }
  .works h1 {
    font-size: 24px;
    margin-bottom: 30px;
  }
  .works-content-block h3 {
    padding-top: 0;
    margin-bottom: 30px;
  }
  .works-content-block img {
    margin-bottom: 40px;
  }
  .works {
    padding-top: 30px;
  }
  .works-small-link {
    display: block;
  }
  .works-content-block-text {
    display: block;
    margin-bottom: 15px;
  }
  .works-content-block-text span::after {
    bottom: -27px;
  }
  .works-small-child::after {
    display: none;
  }
  .works-link {
    padding-top: 5px;
  }
  .link-small {
    display: block;
    padding-left: 0px;
    font-size: 14px;
  }
  .contacts-content-right p {
    width: 219px;
  }
  .copyright-wrap span {
    display: none;
  }
  .copyright-wrap {
    justify-content: center;
    padding-top: 8px;
  }
  .contacts-content-left #contacts-btn {
    width: 100%;
  }
  .contacts-wrap {
    display: block;
  }
  .contacts-content-left input {
    height: 30px;
  }
  .popup-sent {
    width: 310px;
    overflow-y: scroll;
    max-height: 100%;
  }
  .overlay-close {
    top: 60px;
    right: 15px;
  }
  .popup-sent label input {
    width: 90%;
    font-size: 16px;
    margin-bottom: 20px;
  }
  .popup-sent label textarea {
    width: 90%;
    margin-bottom: 22px;
    font-size: 16px;
  }
  .popup-wrap {
    padding-top: 60px;
  }
  .popup-sent #popup-btn {
    width: 85%;
    font-size: 18px;
    height: 46px;
  }
  .contacts-content-left #contacts-btn {
    height: 48px;
  }
  .popup-contact {
    margin-bottom: 0;
  }
  .popup-corporate {
    width: 95%;
    padding-top: 15px;
  }
  .popup-corporate p {
    margin-bottom: 15px;
    padding-top: 45px;
  }
  .popup-corporate label input {
    margin-bottom: 15px;
    font-size: 14px;
    width: 80%;
    height: 40px;
  }
  .popup-corporate #popup-btn {
    font-size: 14px;
  }
  .popup-corporate label textarea {
    font-size: 14px;
    width: 80%;
    height: 100px;
  }
  .popup-order {
    width: 95%;
    padding-top: 15px;
  }
  .popup-wrap {
    padding-top: 15px;
  }
  .popup-order label input {
    margin-bottom: 15px;
    font-size: 14px;
    width: 80%;
    height: 40px;
  }
  .popup-order #popup-btn {
    font-size: 14px;
  }
  .popup-order label textarea {
    font-size: 14px;
    width: 80%;
    height: 100px;
  }
  .popup-visit-text p {
    font-size: 24px;
  }
  .overlay-close {
    top: 10px;
  }
  .overlay-close::before {
    width: 35px;
    height: 1px;
  }
  .overlay-close::after {
    width: 35px;
    height: 1px;
  }
  .burger span {
    width: 35px;
  }
  .burger span::before {
    width: 35px;
  }
  .burger span::after {
    width: 35px;
  }
  .popup-wrap-img {
    top: 58%;
    width: 65%;
  }
  .popup-sent label input {
    width: 222px;
    font-size: 14px;
  }
  .popup-sent label textarea {
    height: 100px;
    width: 222px;
    font-size: 14px;
  }
  .popup-sent {
    padding-top: 15%;
    padding-bottom: 40px;
    width: 90%;
    overflow-y: visible;
  }
  .popup-sent #popup-btn {
    width: min-content;
  }
  .overlay-close-consult {
    top: 17 px;
  }
  .contacts-content-right.popup-contact {
    display: none;
  }
  .popup-sent label input {
    height: 40px;
  }
}
/*# sourceMappingURL=style.css.map */